.about {
    width: 1000%;
    min-height: 1000px;
    .topText {
        display: block;
        margin-top: 300px;
        margin-bottom: 70px;
        padding: 0 150px;
        font-size: 125px;
        line-height: 142px;
        font-weight: 550;
        .accentFont {
            color: var(--main-blue-color);
        }
    }
    .hero {
        width: 100%;
        padding: 0 150px;
        .heroImage {
            width: 2000px;
            height: 1300px;
            border-radius: 50px;
        }
    }
}