.listItem {
  display: flex;
  width: 100%;
  height: 20xp;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}
.listItem:hover {
  color: red;
  transition: 0.5s;
}

/* props css */
.white {
  color: white;
}
.gray {
  color: white;
}
.small {
  font-size: 13px;
}
.medium {
  font-size: 20px;
  font-weight: 550;
  margin-bottom: 20px;
}
.large {
  font-size: 24px;
  font-weight: 600;
}
