.tags {
  display: block;
  display: flex;
  padding: 0 10px 0 10px;
  margin-right: 10px;
  box-sizing: border-box;
  min-width: 160px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: white;
  text-decoration: none;
  background-color: #1f2937;
}
.tags:hover {
  background-color: #353e4b;
}
.img {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .tags {
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }
  .img {
    width: 30px;
    height: 30px;
  }
}
