.navigation {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: white;
}

.navigation[aria-hidden='false'] {
  display: flex;
}
