.topCard {
  width: 100%;
  height: 450px;
}
.blogLink {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.blogLink:hover {
  border: 0.1px solid gray;
}
.imgBox {
  max-width: 792px;
}
.img {
  width: 100%;
}
.textBox {
  width: 390px;
  padding-top: 30px;
}
.title {
  width: 98%;
  height: 100px;
  line-height: 40px;
  font-size: 30px;
  color: white;
}
.date {
  display: block;
  width: 95%;
  height: 20px;
  padding: 10px;
  margin: 0 auto;
  font-weight: bold;
  text-align: right;
  color: white;
}
.text {
  width: 98%;
  margin: 4px auto;
  margin-bottom: 15px;
  font-size: 15px;
  color: white;
}
.tagsBox {
  width: 98%;
  margin: 0 auto;
  color: white;
}

/* タブレット */
@media screen and (max-width: 1280px) {
}

/* スマートフォン */
@media screen and (max-width: 768px) {
  .blogLink {
    display: block;
  }
  .imgBox {
    width: 100%;
  }
  .textBox {
    width: 100%;
    margin-top: 0px;
  }
  .title {
    line-height: 30px;
    font-size: 25px;
  }
}
