.footer {
  width: 100%;
  min-height: 500px;
  height: auto;
  padding: 30px;
  padding-top: 100px;
  background-color: black;
  .container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    .leftBox {
      width: 30%;
      height: auto;
    }
    .rightBox {
      width: 70%;
      height: auto;
      margin-top: 60px;
      display: flex;
      .menuBox {
        width: auto;
        min-width: 150px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .footer {
    width: 100%;
    min-height: 500px;
    height: auto;
    padding: 30px;
    padding-top: 100px;
    background-color: black;
    .container {
      width: 100%;
      margin: 0 auto;
      display: block;
      .leftBox {
        width: 100%;
        height: auto;
      }
      .rightBox {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 768px) {
}
