.searchBox {
  width: 100%;
  padding: 50px;
  margin-top: -40px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid gray;
  .sectionBox {
    .title {
      .icon {
      }
    }
    .input {
    }
    .leftBox {
      .title {
      }
    }
    .rightBox {
      .title {
      }
    }
  }
}
