.topLayout {
  width: 55%;
  height: 2000px;
  margin: 0 auto;
  margin-bottom: 200px;
  display: flex;
  .leftArticleBox {
    width: 65%;
    height: 100px;
    margin-right: 2%;
  }
  .sidebar {
    width: 34%;
    height: 100px;
  }
}

@media screen and (max-width: 1280px) {
  .topLayout {
    width: 80%;
    margin: 0 auto;
    display: block;
    .leftArticleBox {
      width: 65%;
      height: 100px;
    }
    .sidebar {
      width: 35%;
      height: 100px;
    }
  }
}
@media screen and (max-width: 500px) {
  .topLayout {
    width: 90%;
    margin: 0 auto;
    display: block;
    .leftArticleBox {
      width: 100%;
      height: 100px;
    }
    .sidebar {
      width: 100%;
      height: 100px;
    }
  }
}
