.topLayout {
  width: 55%;
  margin: 0 auto;
  padding-bottom: 30px;
  margin-bottom: 100px;
  display: flex;
  .leftArticleBox {
    width: 65%;
    min-height: 1000px;
    margin-right: 2%;
  }
  .sidebar {
    width: 34%;
    height: 100px;
  }
}

@media screen and (max-width: 1280px) {
  .topLayout {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
    .leftArticleBox {
      width: 65%;
    }
    .sidebar {
      width: 35%;
    }
  }
}
@media screen and (max-width: 500px) {
  .topLayout {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: block;
    .leftArticleBox {
      width: 100%;
      height: auto;
      margin-bottom: 30px;
    }
    .sidebar {
      width: 100%;
      height: auto;
      padding: 20px 0px;
      padding-left: 10px;
    }
  }
}
