.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400px;
  background-color: #333333;
  overflow: hidden;
}
.container {
  width: 80%;
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.topBox {
  width: 100%;
  height: 300px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.box {
  width: 20%;
  height: 100%;
}
.bottomBox {
  width: 100%;
  margin: 0 auto;
  margin-left: calc(50% - 150px);
}

/* タブレット */
@media screen and (max-width: 1280px) {
  .container {
    width: 100%;
  }
}

/* スマートフォン */
@media screen and (max-width: 768px) {
  .footer {
    height: 300px;
  }
  .container {
    width: 100%;
  }
  .topBox {
    display: none;
  }
}
