.newBlogBox {
  width: 80%;
  height: 700px;
  margin: 0 auto;
  background-color: gray;
}

/* タブレット */
@media screen and (max-width: 1280px) {
}

/* スマートフォン */
@media screen and (max-width: 768px) {
}
