.menu {
  display: block;
  width: 100%;
  height: 45px;
  .text {
    color: white;
    font-size: 30px;
    font-weight: bold;
    &:hover {
      color: #cbcbcb;
      transition: all 0.2s;
    }
  }
}

@media screen and (max-width: 1280px) {
  .menu {
    .text {
      color: white;
    }
  }
}
